{% extends 'base.html.twig' %}

{% block body %}
<h1 style="color: #5eb5e0">Génération d'un PDF</h1>
<p>Nom : {{ nom }}</p>
<p>Prenom : {{ prenom }}</p>
<p>Societe : {{ societe }}</p>

    <img src="{{ qrCode }}" alt="qrcode">
{% endblock %}


